name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  # -------------------------
  # 1. RUN TESTS
  # -------------------------
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest -q

  # -------------------------
  # 2. BUILD AND PUSH IMAGE
  # -------------------------
  build-and-push:
    needs: test   # <--- ensure tests pass first
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build the Docker image
        run: docker build -t fastapi-cicd .

      - name: Tag the Docker image
        run: docker tag fastapi-cicd ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-cicd:latest

      - name: Push the Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-cicd:latest
